<h1>Danielle Gagnier</h1>
        
<h3>About me</h3>

<p>
My name is Danielle Lorraine Gagnier, named after my Great Meme Lorraine. I was born on Friday June 20, 1997. at around 2 a.m. I have a younger brother and a younger sister. We all live at home with our parents and our five and a half month old puppy named Luna (she's really cute). I'm a huge fan of country music but I've recently been expanding my genres. My favourite colour is purple and my favourite food is pizza. My best friend's name is Samantha and we've been best friends for 17 years now (that's almsost as long as Gavin's been alive). I swam on a competitive swim team for around 10 years and now I'm lifeguarding, which I have been doing for six years. I also took art lessons with Julia Conlon for seven or eight years, but had to quit because my parents stopped paying for the lessons when I got a job and I couldn't afford it. 
</p>

<p>
I took the journalism program here at the college and graduated from that in June 2016, then decided to come into this program because I didn't like journalism. Graphic design was actually one of my choices right out of high school but I chose journalism instead, which was obviously the wrong choice considering I'm here paying for a second round of college. Journaism taught me a lot tho, as I learned lots about photography, copywriting, Photoshop, and InDesign, so I felt very prepared coming into this program. I was also able to do an internship at Blackburn News (which is when I realized I didn't want to be a journalist), as well as a photography internship with Kati Panasuik.
</p>

<p>
I'm sorry for the novel, but one thing I've always enjoyed along with art and swimming is writing. My favourite subjects in high school were writers craft and english. My favourite aspect of journalism was editing news stories and I even worked the editing desk on paper days. I also dabbled with poetry back in the day. Even after all my exposure to different career paths and hundreds of different interests and hobbies, I'm still not really sure what I want to do after college. I'm kinda just going with the flow and seeing where things are going to take me. 
</p>